[Unit]
Description=Global Entry Appt Poller
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/python3 -u /home/ubuntu/.tb/scripts/scripts/notifiers/poll.py

[Install]
WantedBy=multi-user.target
Alias=poller.service
